/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
 */

 *{
   border-sizing: border-box;
 }
 .page-header{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   width: auto;
   margin-right:20px;
 }
 .page-header__item{
   width: 500px;
   height: 200px;
 }
 .page-header__item:last-child {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   text-align: right;
 }

 .logo {
  width: 500px;
  height:200px;
  transform: translateX(-140px) translateY(-25px)
  
 
 }
 .navigation-list {
   list-style-type: none;
 }
 .navigation-list li {
   display: inline-block;
   margin-left: 15px;
 }
.profile__portrait{
  float:left;
  width: 400px;
  margin-right: 100px;
  border-radius: 50%;
}
.profile-index{
  color:white;
  margin-left: 75px;
}

.profile{
  max-width: 800px;
  color:white;
  margin-left: 15px;
  font-size: 30px;
}

.contact{
  color:white;
 text-align: center;
 font-size: 25px;
}

.wrapper.one {
  background-color: #1a1a1a;
}
.drop-main {
  display: flex;
  font-size: 7rem;
  margin: 1.5rem;
  justify-content: center;
  font-family: "Russo One", sans-serif;
}
.c1 {
  opacity: 0;
  animation: drop 0.4s linear forwards;
  color: red;
}
.o1 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.1s;
  color: orange;
}
.n {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.2s;
  color: yellow;
}
.t1 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.3s;
  color: yellowgreen;
}
.a {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.4s;
  color: green;
}
.c2 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.5s;
  color: blue;
}
.t2 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.6s;
  color: blueviolet;
}
.m {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.7s;
  color: violet;
}
.e {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.8s;
  color: pink;
}
.end {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.9s;
  color: #44D62C
}
@keyframes drop {
  0% {
      transform: translateY(-200px);
      opacity: 0;
  }
  50% {
      transform: translateY(0px);
      opacity: 1;
  }
  65% {
      transform: translateY(-17px);
      opacity: 1;
  }
  75% {
      transform: translateY(-22px);
      opacity: 1;
  }
  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}
.body{
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-image: url("https://wallpaper.dog/large/5461779.jpg");
  background-size: cover; /* makes the background image cover the entire container */
  background-position: center; /* centers the background image within the container */
line-height: 1.6;
}

@media only screen and (max-width: 450px) {
  /* styles for screens smaller than 768px */
  .logo {
    width: 50%;
  }

  .wrapper.one {
    background-color: #1a1a1a;
  }
  .drop-main {
    display: flex;
    font-size: 45px;
    margin: 24px;
    justify-content: center;
    font-family: "Russo One", sans-serif;
  }

  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
    padding: 0 3px 3px 3px;
    transform: translateY(-75px);
  }

  .contact{
  color:white;
 text-align: center;
 font-size: 35px;
 width: 400px;
}

  .grid__item {
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    border-style:ridge;
    border-radius: 35px;
    width:300px;
    height: auto;
    padding-bottom: 20px;
    
  }
  
  .navigation-list {
    flex-direction: column;
  }
  
  .navigation-list__item {
    padding: 10px;
  }
  
  .profile__portrait {
    width: 80%;
  }
  
  .profile-index h1 {
    font-size: 28px;
  }
  
  .profile-index h2 {
    font-size: 20px;
  }
  
  .glow-on-hover {
    font-size: 16px;
    padding: 10px 20px;
  }
  
  .social-media-icons {
    width: 30px;
  }

  .case-study {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .case-study-img {
    max-width: 95%;
    border: #000;
    border-style: ridge;
    border-radius: 20px;
    margin-top: 10px;
  }

  .case-study-btn {
    font-size: 25px;
    color: white;
    background-color: black;
    border: white;
    border-style: ridge;
  border-radius: 20px;
  }
  
  
  .profile-index h1 {
    font-size: 50px;
    text-align: left;
    transform: translateX(-50px);
  }

  .profile-index h2 {
    font-size: 25px;
    text-align: left;
    transform: translateX(-50px);
  }

  .profile-index button {
    transform: translateX(30px);
  }


  .google-meet {
    font-size: 40px;
    background-color: black;
    text-align: center;
    width:100%;
  }


}

h1 {
font-size: 30px;
font-weight: 700;
color: white;
}

h2 {
font-size: 24px;
font-weight: 700;
color: white;
}

h3 {
font-size: 18px;
font-weight: 700;
}

.p-tag {
  color:white;
  font-size: 20px;
}
a {
  color: white;
}



a:hover a:focus {
text-decoration: none;
}


.social-media-icons {
  height: 40px;
  width: 40px;
}

td{
  font-size: 25px;
  padding-inline: 15px;
}

.about-table {
  margin-right: 20px
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: .2s opacity;
  -o-transition: .2s opacity;
  transition: .2s opacity;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: .2s opacity;
  -o-transition: .2s opacity;
  transition: .2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.glow-on-hover {
  width: auto;
  height: auto;
  border:white;
  border-style: ridge;
  padding:10px;
  outline: none;
  color: white;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
 display: block;
  text-align:center;
 
  font-size: 25px;
  text-decoration: none;
}



.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 3;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.navigation-list__item--active {
  text-decoration: none;
}

.navigation-list__item {
  color: white;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 0px 10px 0px 10px;
  transform: translateY(-75px);
}

.grid-title {
  font-size: 50px;
  transform: translateY(-50px);
  margin-left: 15px;
}


.grid__item {
  background-color: rgba(0, 0, 0, 1);
  position: relative;
  border-style:ridge;
  border-radius: 35px;
  width: fit-content;
  height: auto;
  padding-bottom: 20px;
  
}

.grid__item p {
  color: white;
}


.work-section{
  margin-bottom: 10px;
  
}

.project-img {
  height:200px;
  width:100%;
  object-fit: cover;
  
}


.page-footer{
  clear: both;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.page-footer p{
  color: white;
}
.totally{
  position: right;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}


/* CSS */
.button-52 {
  font-size:25px;
  font-weight: 200;
  letter-spacing: 1px;
  outline: 0;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width:auto;
  height:auto;
  z-index: 1;
  text-decoration: none;
  display: block;
  text-align: center;
}

.button-52:after {
  content: "";
  background-color: #7632ce;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

